*{
    margin: 0px;
    padding: 0px;
}


/*editing the container of the body element into grid with 6 rows*/
body {
    margin: 0px;
    padding: 0px;
}

.container {
    box-sizing: border-box;
    max-height: 600px;
    display: grid;
    grid-template-areas:"nav"
                        "banner"
                        "welcome"
                        "services-section"
                        "prices"
                        "contact-and-location"
                        "footer";
    grid-template-rows: 30px 0.1fr 0.2fr 0.01fr 0.45fr 50px 150px;
    grid-template-columns: 1fr;
}

.navigation {
    grid-area: nav;
    background-color: transparent;
    grid-row: 1/2;
}
.navigation button{
    appearance: button;
    background-color: #CD5C5C;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: din-round,sans-serif;
    font-size: 0.8rem;
    font-weight: 700px;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 10px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 20%;
    position: relative;
    left: 70%;
}
nav a{
    text-decoration: none;
    color: black;
}
.navigation button:hover {
    background-color: lightcoral;
    color: white;
    box-shadow: 0px 0px;
}

/*Editing of site banner area, image, and name display*/
.banner {
    grid-area: banner;
    grid-row: 2/3;
    margin-bottom: 0px;
    height: 90%;
    padding: 1%;
}
.banner img{
    box-sizing: border-box;
    object-fit: cover;
    width: 100%;
    height: 40%;
    opacity: 0.5;
    margin-bottom: 0px;
}

.site-name {
    font-size: 6rem;
    font-family: "Sofia", cursive;
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    position: relative;
    bottom: 42%;
    left: 5%;
    color:hsl(3, 100%, 60%);
}
.site-mantra {
    font-family: "Sofia", cursive;
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    position: relative;
    bottom: 35%;
    font-size: 2rem;
    text-align: center;
}

/*Editing the welcome section of the page*/
.welcome-section {
    grid-area: welcome;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    background-color: #CD5C5C;
    grid-row: 2/3;
    position: relative;
    top: 25%;
    height: 27%;
    gap: 15px;
    text-wrap: wrap;
    font-size: 1.4rem;
    padding-bottom: 10%;
    z-index: 10;
}
.welcome-section div{
    width: 40%;
    font-size: 1.2rem;
    text-align: none;
}
.welcome-section h2{
    position: relative;
    top: 11%;
}

/*Third section: Editiong the service section containing images*/

.services-container {
    grid-area: services-section;
    background-image: url("https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTAxL2pvYjE1MzEtYmFja2dyb3VuZC0wNC5qcGc.jpg");
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 30% 70%;
    position: relative;
    bottom: 80%;
    margin-bottom: 0%;
    padding-bottom: 0%;
    padding-top: 15%;
}

.services-description {
        grid-column: 1/2;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: space-around;
        justify-content: flex-start;
        gap: 70px;
        padding: 10%;
        border: solid 3px #F0E3CE;
}
.services-description h2{
    font-family: "Dancing Script", cursive;
    color: sienna;
    font-weight: bolder;
    font-style: normal;
    font-size: 1.6rem;
    padding-bottom: 30px;
    text-align: center;
}
.services-description p{
    font-size: 1.2rem;
    text-align: justify;
}

.services-description a {
    appearance: none;
    background-color: black;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: lightcoral;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
}

.services-description a:hover {
    color: black;
    background-color: lightcoral;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.services-description a:active {
    box-shadow: none;
    transform: translateY(0);
}

/*Editing images in services section*/
.service-images-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}
.services-section img {
    box-sizing: border-box;
    max-height: 200px;
    max-width: 200px;
    object-fit: contain;
}

/*Fourth section: Editing the Price section of the page*/
.prices {
    grid-area: prices;
    grid-row: 4/6;
    color: sienna;
    position: relative;
    bottom: 605px;
    /*background-image: url("https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTAxL2pvYjE1MzEtYmFja2dyb3VuZC0wNC5qcGc.jpg");*/
    
}

header {
    position: relative;
    bottom: 5%;
    font-family: "Dancing Script", cursive;
    color: #c7913b;
    font-weight: bolder;
    font-style: normal;
    font-size: 1.8rem;
    padding-bottom: 30px;
    text-align: center;
    background-color: hsla(0, 30%, 58%, 0.1);
    padding-top: 9%;
    padding-bottom: 1%;
}


.list h3 {
    font-size: 1.5rem;
    text-decoration: underline;
}

/*table edits*/
td {
    border-bottom: solid 2px rgba(255, 192, 203, 0.957);
    padding: 10px;
    text-transform: uppercase;
    font-size: 90%;
    width: 75%;
    text-align: center;
    font-weight: 50px;
}

.column {
    background-color: rgba(240, 128, 128, 0.434);
    font-weight: 50px;
}
.table-style {
    font-size: 1.4rem;
}
.table-braid-length{
    font-size: 1.4rem;
}
td:hover {
    background-color: rgba(165, 42, 42, 0.779);
    color: white;
}
.contact-and-location {
    grid-area: contact-and-location;
    position: relative;
    top: 60%;
    display: flex;
    flex-direction: row;
    grid-row: 5/6;
    justify-content: center;
    align-items: flex-start;
    align-content: space-around;
    color: black;
    font-size: 1.2rem;
    z-index: 10;
} 
.contact-and-location h3 {
    font-size: 1.6rem;
}
.contact-and-location button{
    appearance: button;
    background-color: black;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #CD5C5C;
    cursor: pointer;
    display: inline-block;
    font-family: din-round,sans-serif;
    font-size: 0.8rem;
    font-weight: 600px;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 3% ;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 50%;
    
}
.contact-and-location a{
    text-decoration: none;
    color: sienna;
}

.contact-and-location button:hover{
    background-color: rgb(215, 93, 72);
    color: black;
}
.contact-and-location button:active{
    background-color: tomato;
    color: black;
}
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    justify-content: flex-start;
    background-color: #CD5C5C;
    height: 150%;
    width: 45%;
    gap: 1.5%;
    font-size: 1.4rem;
    font-weight: 700px;
}
.location {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    justify-content: flex-start;
    background-color: #CD5C5C;
    height: 150%;
    width: 45%;
    gap: 5%;
    font-size: 1.4rem;
    font-weight: 700px;
}
.contact img{
    height: 20px;
    width: 20px;
}
#instagram,
#whatsapp {
    display: inline-block;
    padding: 5%;
    font-size: 1.3rem;
}
#instagram a,
#whatsapp a{
    color: black;
}
#instagram a:hover,
#whatsapp a:hover{
    color: cyan;
}
#instagram a:active,
#whatsapp a:active{
    color: cyan;
}

footer {
    grid-area: footer;
    background-color: #CD5C5C;
    position: relative;
    top: 300%;
    grid-row: 7/8;
    margin-top: 0px;
}
