*{
    margin: 0px;
    padding: 0px;
}
body {
    padding: 10px;
}
nav {
    background-color: white;
    height: 40px;
    width: 1200px;
    background-color: #f5e8aa;
    position: fixed;
    z-index: 100;
    }

nav a{
    display: inline-block;
    background-color: lightsalmon;
    width: 200px;
    height: 20px;
    margin-right: 20px;
    padding: 10px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    top: 2px;
    border-radius: 6px;
    color: black;
}
nav a:hover{
    background-color: lightcoral;
    color: white;
    box-shadow: 0px 0px;
}
nav .home:active {
    background-color: lightcoral;
    color: white;
    box-shadow: 0px 0px;
    margin-top: 24px;
}
nav .service:active {
    background-color: white;
    color: white;
    box-shadow: 0px 0px;
    margin-top: 24px;
}
nav .appointment-button:active {
    background-color: white;
    color: blue;
    box-shadow: 0px 0px;
    margin-top: 24px;
}
.appointment-button {
    position: relative;
    left: 540px;
    height: 25px;
    background-color: lightcoral;
    color: #000000;
}

.banner {
    width: 100%;
    height: 600px;
}
.site-name {
    display: inline-block;
    min-width: 400px;
    min-height: 50px;
    left: 37px;
    position: relative;
    bottom: 450px;
    font-size: 100px;
    left: 10px;
    color:#ff8680;
    position: sticky;
    bottom: 180px;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}
.site-name:hover {
    color: purple;
}
main {
    background-color: rgba(53, 8, 81, 0.2);
    height: 600px;
}


.site-footer {
    position: relative;
    top: 40px;
    background-color: teal;
    height: 200px;
    font-size: 12px;
    width: 100%;
}
/*.info a{
    font-size: 24px;
    text-transform: none;
    margin-bottom: 30px;
    position: relative;
    left: 600px;
    bottom: 20px;
    color: black;
}*/
.info .footer-home:hover {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}
.info .footer-service:hover {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}
.info .footer-us:hover{
    color: white;
    text-decoration: underline;
    cursor: pointer;
}
.info .footer-location:hover {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}
.info .footer-contact:hover {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}
ul {
    list-style-type: none;
}
.whatsapp-logo,
.contact {
    position: relative;
    left: 50px;
    top: 100px;
}
.copy {
    display: inline-flex;
    position: relative;
    top: 150px;
    color: white;
}
.copy a{
    color: white;
}
.logo {
    display: inline-flex;
    position: relative;
    left: 500px;
    top: 63px;
}
ul {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    width: 300px;
    align-items: center;
    position: relative;
    left: 38%;
    bottom: 11px;
    font-size: 24px;
    color: #f5e8aa;
}
ul li{
    margin-top: 10px;
}
